// start .sForm
.sForm {
	background-color: $light;

	--sPT: #{50px};
	--sPB: #{60px};
	--sTPB: #{30px};
	@include media-breakpoint-up(md){
		--sPT: #{rem(92px)};
		--sPB: #{rem(90)};
		--sTPB: #{rem(25)};
	}


	.section-title{
		max-width: rem(920);
		margin: 0 auto;

		h2{
			@include media-breakpoint-down(sm){
				font-size: 22px;
			}

			margin-bottom: 25px;
			@include media-breakpoint-up(md){
				margin-bottom: rem(20);
			}
		}
		p{
			text-align: left;
			line-height: 1.7;
			@include media-breakpoint-up(md){
				text-align: center;
				line-height: 1.2;
			}

			font-size: rem(20px);
			color: $body-color2;
		}
	}

	//form
	.form-wrap{
		@include media-breakpoint-up(md){
			max-width: 650px;
			margin: 0 auto;
		}
		&__row{
			@include roww(10px);

			padding-bottom: 10px;
			@include media-breakpoint-up(md){
				padding-bottom: rem(40);
			}
		}
		&__input-wrap{
			padding-bottom: 0;

			margin-bottom: 20px;
			@include media-breakpoint-up(md){
				margin-bottom: 0;
			}
		}
		&__input{
			margin-bottom: 0;
			margin-top: 0;
			height: auto;

			padding-left: 20px;
			padding-right: 20px;
			@include media-breakpoint-down(md){
				padding: 10px 20px !important;
				min-height: 40px;
				border: 1px solid $secondary;
			}
		}


		&__btn{
			@extend .btn-pr;

			font-weight: bold;
			font-size: rem(16);
			line-height: (20/16);

			width: auto;
			min-width: 100%;
			@include media-breakpoint-up(md){
				min-width: rem(310);
			}
		}
		&__{}
	}

	&--04 {
		.form-wrap__input {
			min-height: rem(46) !important;
			&::placeholder {
				opacity: 1;
				color: #2F2D2D;
			}
		}

		.section-title {
			@include media-breakpoint-down(sm) {
				padding-bottom: calc(var(--sTPB) / 1.7);
			}
		}

		.form-wrap__row {
			padding-bottom: 1rem !important;
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

	.widget .form-wrap__pop-up-wrap.object-type {
		padding: rem(10) rem(20);
		border: 1px solid #c4c4c4;
		height: 46px;
		border-radius: .3125rem;
		@include media-breakpoint-up(md) {
			border: none;
		}

		width: 100% !important;
		span {
			color: $body-color2;
		}
	}
	.widget .form-wrap__inputs-strip {
		border-radius: .3125rem;
		padding: 0;
		box-shadow: none;
	}
	.widget .form-wrap__pop-up-header {
		pointer-events: all;
		margin-bottom: 0;
	}
	.widget .form-wrap__pop-up-content.object-type {
		background-color: #fff;
		@include media-breakpoint-down(md) {
			display: none;
			margin-top: 20px;
		}
	}
	.widget .form-wrap__pop-up-header .icon {
		@include media-breakpoint-down(md) {
			display: block;
		}
	}

	.widget .form-wrap__long-ch-cont {
		padding: 1.875rem;
	}

} // end.sForm