// start .sExamples
.sExamples {
	background-color: $light;
	@include media-breakpoint-up(sm){
		background-color: $white;
	}


	--sPT: #{rem(50px)};//226
	--sPB: #{rem(60)};
	--sTPB: #{rem(30)};
	@include media-breakpoint-up(lg){
		--sPT: #{rem(96px)};//226
		--sPB: #{rem(100)};
		--sTPB: #{rem(30)};
	}

	.section-title{
		h2{
			@include media-breakpoint-down(sm){
				font-size: 22px;
			}
		}
	}

	&__container{
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up(lg){
			max-width: 759px !important;
		}
	}
	//slider
	&__slider{
		position: relative;

		padding-bottom: 40px;
		@include media-breakpoint-up(sm){
			padding-bottom: 22px;
		}

		.example-pugin{
			padding-top: 25px;
		}
	}
	&__fancy-link{
		display: block;
		width: 100%;
		position: relative;
		padding-bottom: 45.48%;

		overflow: hidden;
		background-color: $black;

		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include mt();
		}

		&:hover{
			img{
				opacity: .8;
				transform: scale(1.1);
			}
		}
	}
	//thumb
	&__thumb-slider{
		padding-bottom: 40px;
		.swiper-slide{

			width: calc((100% / 4) - (30px * 3 /4));
			@include media-breakpoint-up(md){
				width: calc((100% / 6) - (30px * 5 /6));
			}
			@include media-breakpoint-up(xxl){
				width: calc((100% / 8) - (30px * 7 /8));
			}
		}
	}
	&__thumb-img{
		cursor: pointer;
		position: relative;
		padding-top: 61.53%;
		overflow: hidden;
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			@include mt();
		}

		&:hover{
			img{
				opacity: .8;
				transform: scale(1.1);
			}
		}
	}

	//bottom-btns
	&__bottom-btns{
		@include media-breakpoint-up(lg){
			display: flex;
			justify-content: space-between;
		}
	}
	&__order-btn{
		width: 100%;
		margin-bottom: 20px;
		@include media-breakpoint-up(lg){
			width: calc(50% - 13.5px);
			margin-bottom: 0;
		}

		@extend .btn-pr;
		font-size: 16px;
		line-height: (20/16);
		font-weight: bold;
	}
	&__look-more-btn{
		@extend .btn-pr-empty;

		width: 100%;
		@include media-breakpoint-up(lg){
			width: calc(50% - 13.5px);
		}

		font-size: 16px;
		line-height: 1;
	}
	&__{}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sExamples