// start .sReviews
.sReviews {
	padding-top: 0;
	@include media-breakpoint-up(sm) {
		padding-top: calc(var(--sPT) * 1.3);
	}
	padding-bottom: var(--sPB);
	background-color: $light;

	&__btn {
		@extend .btn-pr;
		font-weight: bold;
		margin-left: auto;
		margin-right: auto;
		display: block;
		max-width: rem(310);
	}

	&__vk {
		display: flex;
		justify-content: flex-end;
	}

	&__slideWrap {
		border-radius: $border-radius;
		background-color: #ffffff;
		box-shadow: 0 1px $border-radius rgba(0, 0, 0, 0.1);
		padding: rem(20) rem(20);

		p {
			margin-bottom: rem(16);
			font-weight: 300;
			line-height: 1.25;
		}
	}

	picture {
		margin-top: rem(5);
		margin-bottom: rem(25);
		width: rem(100);
		height: rem(100);
		overflow: hidden;
		border-radius: 50%;
		display: block;
	}

	.swiper-container {
		padding-bottom: rem(10);
		margin-bottom: rem(20);
	}
	.review-slider-pugin {
		margin-bottom: rem(40);
	}

	&__slider {
		position: relative;
	}

	.swiper-pagination-clickable .swiper-pagination-bullet {
		width: 15px;
		height: 15px;
		background: rgba($color: #2F2D2D, $alpha: 0.3);
		&-active, &:hover {
			background: #2F2D2D;
		}
	}

	&__name {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: rem(5);
	}

	&__position {
		margin-bottom: rem(15);
	}

	.review-slider {
		&-prev, &-next {
			position: absolute;
			top: 41%;
			z-index: 10;

			.icon {
				font-size: rem(30);
			}
		}
		&-prev {
			right: calc(100% + 1.5vw);
		}
		&-next{ 
			left: calc(100% + 1.5vw);
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sReviews

.rating {
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: rem(17);

	&__item {
		@include mt;
		margin: 0 rem(4);
		.icon {
			color: $secondary;
			font-size: rem(16);
		}
	}

	[data-total-value="1"] &__item:nth-child(n + 5),
	[data-total-value="2"] &__item:nth-child(n + 4),
	[data-total-value="3"] &__item:nth-child(n + 3),
	[data-total-value="4"] &__item:nth-child(n + 2),
	[data-total-value="5"] &__item:nth-child(n + 1){
		.icon {
			color: #ffc107;
		}
	}
}

