// start .sAside
.sAside {
	//positons
	position: fixed;
	&.absolute{
		position: absolute;
	}

	left: 0;
	top: 70px;

	width: 100vw;
	height: calc(100vh - 70px);
	z-index: 102;
	@include media-breakpoint-up(xl){
		width: var(--asideW);
		height: calc(100vh - 70px);
		z-index: 100;
	}

	//
	//@include mt();
	transition: transform .36s ease-in-out;

	transform: translateX(-120vw);
	&.active{
		overflow-x: hidden;
		transform: translateX(0);
	}

	@include media-breakpoint-up(xl){
		transform: none !important;
	}


	@include media-breakpoint-down(xl){
		background-color: $light !important;
		color: $black;
		padding: rem(40) rem(15);

		a{
			color: $body-color2 !important;
			&:hover{
				color: $primary;
			}
		}
	}



	//black
	&.black-aside{
		color: $white;
		background: rgba($black, 0.4);
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
		backdrop-filter: blur(15px);

		a{
			color: $white;
			&:hover{
				color: $primary;

				.img-svg-js{
					path{
						fill: $primary !important;
					}
				}
			}

		}

		.img-svg-js{
			path{
				fill: $black !important;
			}
			@include media-breakpoint-up(xl){
				path{
					fill: $white !important;
				}
			}
		}

	}

	//white
	&.white-aside{
		color: $body-color2;
		background: $white;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);

		a{
			color: $body-color2;
			&:hover{
				color: $primary;
				.img-svg-js{
					path{
						fill: $primary !important;
					}
				}
			}
		}

		.img-svg-js{
			path {
				fill: $black !important;
			}
		}
	}

	//
	&__iconed-menu{
		ul{
			list-style: none;
			margin: 0;
			padding: 0;

			li{
				background-color: $white;
				margin-bottom: 10px;
				@include media-breakpoint-up(xl){
					background-color: transparent;
					margin-bottom: 0;

					border-bottom: 1px solid $secondary;
				}
			}
			a{
				@include mt();

				display: flex;
				width: 100%;
				align-items: center;

				padding: 13px 20px;
				@include media-breakpoint-up(xl){
					padding: rem(14) rem(20);
				}
			}
		}
	}
	&__icon-cont{
		flex-shrink: 0;
		width: rem(28px);
		height: rem(22px);
		display: flex;
		align-items: center;
		justify-content: center;

		margin-right: rem(15);

		.img-svg-js{
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;

			path{
				@include mt();
			}
		}

	}
	&__iconed-txt{
		font-weight: 500;
		line-height: 1;

		font-size: 20px;
		@include media-breakpoint-up(xl){
			font-size: rem(16);
		}
	}

	//
	&__nav{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__item{
		background-color: $white;

		margin-bottom: 10px;
		&:last-child{
			margin-bottom: 30px;
		}

		@include media-breakpoint-up(xl){
			background-color: transparent;
			margin-bottom: 0;

			border-bottom: 1px solid $secondary;
			&:last-child{
				border-bottom: none;
			}
		}
	}
	&__link{
		display: block;

		font-size: 20px;
		line-height: 1.2;
		padding: 12px 20px;
		@include media-breakpoint-up(xl){
			font-size: rem(14px);
			line-height: (24/14);
			padding: rem(10.5) rem(20) rem(10) rem(20);
		}
	}

	//mob-menu
	&__mob-menu{
		color: $body-color2;
	}
	&__info-txt{

	}
	&__top-txt{
		font-size: 16px;
		line-height: (20/16);
		font-weight: 500;
		margin-bottom: 15px;
	}
	&__address-txt{
		font-size: 16px;
		line-height: (20/16);
		font-weight: 500;
		margin-bottom: 10px;
	}
	&__small{
		margin-bottom: 15px;
		p{
			color: $body-color;
			font-size: 12px;
			font-weight: 300;
			line-height: (20/12);
			margin-bottom: 0;
		}
	}

	//
	&__mail-link,
	&__tel-link{
		display: flex;
		align-items: center;
		margin-bottom: 12px;

		.icon{
			font-size: 20px;
			margin-right: rem(15);
		}
		span{
			font-size: rem(16px);
			line-height: (20/16);
		}

	}

	&__mail-link{
		margin-bottom: 15px;
	}
	&__tel-link{
		margin-bottom: 20px;
	}
	//btn
	&__free-consult-btn{
		@extend .btn-pr-empty;

		padding: 20px 10px;
		min-width: 100%;
		@include media-breakpoint-up(sm){
			padding: 20px 60px;
			//min-width: 0;
		}
		font-size: rem(14px);
		line-height: (18/14);
		margin-right: rem(30);
	}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sAside