mixin modal() 
	//  start modals

	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title-h Консультация
				p.after-headline Оставьте заявку и&nbsp;мы&nbsp;вам перезвоним
			+input("", "text", "Имя")
			+input("", "tel", "Телефон")
			+e.BUTTON.btn.btn(type="submit") Оставить заявку
			//- +polite()

	// /#modal-call


	+b.modal-win(id="modal-partnership" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title-h Сотрудничество с&nbsp;HouseHunters
				p.after-headline Оставьте заявку и&nbsp;мы&nbsp;вам перезвоним
			.tabs
				.tabs__caption
					.tabs__btn.active Агент
					.tabs__btn Компания
				.tabs__wrap
					.tabs__content.active
						+input("", "text", "Имя")
						+input("", "tel", "Телефон")
					.tabs__content
						+input("", "text", "Название компании")
						+input("", "text", "Сфера деятельности")
						+input("", "tel", "Телефон")
			+e.BUTTON.btn.btn(type="submit") Оставить заявку

	+b.modal-win(id="modal-addObject" class="modal-win--addObject" style="display: none" )
		+form-wrap
			.text-center
				+e.title-h Добавить объект
				//- p.after-headline Оставьте заявку и&nbsp;мы&nbsp;вам перезвоним
			.tabs
				.tabs__caption
					.tabs__btn.active Продать
					.tabs__btn Сдать
				.tabs__wrap
					mixin content(t)
						.row
							.col-md-6.col-lg-4
								+input('','','Город')
							.col-md-6.col-lg-4
								+input('','','Район')
							.col-md-6.col-lg-4
								+e.title Количество комнат
								+e.radio
									+topBtn('Студия','rooms')
									+topBtn('1','rooms')
									+topBtn('2','rooms')
									+topBtn('3','rooms')
									+topBtn('4','rooms')
									+topBtn('4+','rooms')
							.col-md-6.col-lg-4
								+input('','','Этаж')
							.col-md-6.col-lg-4
								+e.title Состояние
								+e.radio
									+topBtn('Плохое','condition')
									+topBtn('Хорошее','condition')
									+topBtn('Отличное','condition')
							.col-md-6.col-lg-4
								+e.title= t
								+e.price
									+e.inputWrap
										+input('От','numb','₽')
									+e.inputWrap
										+input('До','numb','₽')
									//- +input('От','numb')
									//- +input('До','numb')
							.col-md-6.col-lg-4
								+input('','','Фамилия')
							.col-md-6.col-lg-4
								+input('','','Имя')
							.col-md-6.col-lg-4
								+input('','','Отчество')
							.col-md-6.col-lg-4
								+input('','tel','Телефон')

							.col-md-6.col-lg-4
								+input('','email','Электронная почта')
							.col-md-6.col-lg-4
								+e.title Фото объекта
								+b.add-file
									label
										+e.SPAN.btn-file Загрузить
										input(type="file" name="file")
									+e.filename
							.col-md-6.col-lg-4
							.col-md-6.col-lg-4
							.col-md-6.col-lg-4
								+e.btn-place(type="submit") Разместить объявление
							
					.tabs__content.active
						+content('Стоимость продажи')
					.tabs__content
						+content('Стоимость арендных платежей')

	+b.modal-win(id="modal-review" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title-h Оставить отзыв
			+e.title Оцените качество работы
			+b.rating.rating--modal(data-total-value="4")
				+e.item(data-item-value="5")
					+icon('star')
				+e.item(data-item-value="4")
					+icon('star')
				+e.item(data-item-value="3")
					+icon('star')
				+e.item(data-item-value="2")
					+icon('star')
				+e.item(data-item-value="1")
					+icon('star')
			+input("", "textarea", "Текст отзыва")
			+input("", "text", "Имя")
			+input("", "tel", "Телефон")
			+e.BUTTON.btn.btn(type="submit") Оставить отзыв
	// /#modal-partnership


	+b.modal-win(id="modal-recpass" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title-h Восстановить пароль
			+input("", "tel", "Телефон")
			+e.BUTTON.btn.btn.recover(type="submit") Восстановить
			+e.BUTTON.btn.btn.remembered(type="submit") Вспомнил пароль
			
	// /#modal-recpass


	+b.modal-win(id="modal-signin" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title-h Вход
			+input("", "tel", "Телефон")
			+input("", "text", "Пароль")
			.row.justify-content-between.mb-3
				.col-auto
					+in-c("checkbox", "Запомнить меня", "remember")(checked)
				.col-auto
					+e.rememberPas.link-modal(href="#modal-recpass") Забыли пароль?
			+e.BUTTON.btn.btn(type="submit") Войти
			.text-center
				+e.textSignin 
					span Или войти через социальные сети
			+soc()
				+e.A.item(href="#" target="_blank")
					img.lazy(src="#" data-src='img/svg/soc-vk.svg' alt="")
				+e.A.item(href="#" target="_blank")
					img.lazy(src="#" data-src='img/svg/soc-insta.svg' alt="")
				+e.A.item(href="#" target="_blank")
					img.lazy(src="#" data-src='img/svg/soc-fb.svg' alt="")
				+e.A.item(href="#" target="_blank")
					img.lazy(src="#" data-src='img/svg/soc-odnokl.svg' alt="")
			.text-center
				+e.notReg Еще не зарегистрированы?
				+e.reg.link-modal(href="#modal-reg") Регистрация
			//- +polite()

	// /#modal-signin

	+b.modal-win(id="modal-reg" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title-h Регистрация
			+input("", "tel", "Телефон")
			+input("", "text", "Пароль")
			+input("", "text", "Повторите пароль")
			+in-c("checkbox", "Запомнить меня", "remember")(checked)

			+e.BUTTON.btn.btn(type="submit") Войти
			.text-center
				+e.textSignin 
					span Или зарегистрироваться через социальные сети
			+soc()
				+e.A.item(href="#" target="_blank")
					img.lazy(src="#" data-src='img/svg/soc-vk.svg' alt="")
				+e.A.item(href="#" target="_blank")
					img.lazy(src="#" data-src='img/svg/soc-insta.svg' alt="")
				+e.A.item(href="#" target="_blank")
					img.lazy(src="#" data-src='img/svg/soc-fb.svg' alt="")
				+e.A.item(href="#" target="_blank")
					img.lazy(src="#" data-src='img/svg/soc-odnokl.svg' alt="")
			.text-center
				+e.notReg Уже есть аккаунт?
				+e.reg.link-modal(href="#modal-signin") Войти
			//- +polite()

	// /#modal-reg
	
	+b.modal-win.modal-location(id="modal-location" class=" " style="display: none")
		+form-wrap
			.text-center
				+e.title-h Ваше местоположение
			.tabs
				.tabs__caption
					.tabs__btn.active
						span.d-none.d-sm-inline Указать на карте
						span.d-sm-none На карте
					.tabs__btn Выбрать город
				+e.searc-inp-cont
					+input('', 'text', undefined, 'location')(value='Санкт-Петербург')
					+e.BUTTON.search-btn(type="submit") Выбрать
				.tabs__wrap
					.tabs__content.active
						+e.map-cont
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10158.698586354934!2d30.460393000000003!3d50.465783!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cdd1bf50ff55%3A0x5449b859d7752573!2z0YPQuy4g0KHQtdC80YzQuCDQpdC-0YXQu9C-0LLRi9GFLCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1596469991978!5m2!1sru!2sua" width="100%" height="360" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
					.tabs__content
						+e.city-list
							ul
								li: a(href='#') Москва
								li: a(href='#') Санкт-Петербург
								li: a(href='#') Екатеринбург
								li: a(href='#') Краснодар
								li: a(href='#') Новосибирск
								li: a(href='#') Красноярск
								li: a(href='#') Челябинск
								li: a(href='#') Тюмень
								li: a(href='#') Ростов-на-Дону
								li: a(href='#') Уфа

								li: a(href='#') Казань
								li: a(href='#') Пермь
								li: a(href='#') Нижний Новгород
								li: a(href='#') Самара
								li: a(href='#') Омск
								li: a(href='#') Саратов
								li: a(href='#') Воронеж
								li: a(href='#') Волгоград
								li: a(href='#') Хабаровск
								li: a(href='#') Пятигорск

								li: a(href='#') Томск
								li: a(href='#') Иркутск
								li: a(href='#') Сочи
								li: a(href='#') Ярославль
								li: a(href='#') Сургут
								li: a(href='#') Подольск
								li: a(href='#') Мытищи
								li: a(href='#') Владивосток
								li: a(href='#') Калуга
								li: a(href='#') Балашиха
	// /#modal-location
	// end modals

