.modal-win {
	max-width: 504px;
	width: 100%;
	position: relative;
	@include media-breakpoint-up(sm) {
		padding: 55px 60px 60px;
	}
	padding: 54px 15px;
	background: #F8F7F7;
	border-radius: 5px;

	

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}

	.form-wrap {
		&__radio {
			margin-top: 20px;
			padding-bottom: 25px;
			display: flex;
			align-items: center;
			input {
				display: none;
			}
			span {
				height: 52px;
				border: 2px solid #F3F3F3;
				background: #FFFFFF;
				border-radius: $border-radius;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 5px;
				@include media-breakpoint-up(sm) {
					padding: rem(10);
				}

			}
			label {
				&:not(:last-child) {
					margin-right: 3px;
					@include media-breakpoint-up(sm) {
						margin-right: rem(10);
					}
				}
			}
			input:checked + span {
				background-color: $primary;
				border-color: $primary;
				color: #fff;
			}
		}

		&__price{
			margin-top: 5px;
			display: flex;
		}

		&__inputWrap {
			position: relative;
			&:not(:last-child) {
				margin-right: rem(12);
			}

			.form-wrap__title {
				position: absolute;
				color: #DDDDDD;
				top: 35%;
				right: 15px;
			}

			.form-wrap__input {
				padding: 15px;
			}
		}

		&__inputFile {
		}

		&__btn-place {
			@extend .btn-pr;
			font-weight: bold;
			display: block;
			width: 100%;
			@include media-breakpoint-down(sm) {
				padding: rem(25) rem(5);
			}
		}

		textarea {
			height: rem(113);
		}

		&__textSignin {
			position: relative;
			text-align: center;
			margin-top: rem(40);
			margin-bottom: rem(30);
			z-index: 1;
			font-weight: 500;
			span {
				padding: 0 rem(7);
				background: #F8F7F7;
				position: relative;
				z-index: 2;
			}
			&::before {
				content: '';
				@include a-cent(y);
				left: 0;
				height: 2px;
				width: 100%;
				background: #C4C4C4;
			}
		}

		.soc {
			justify-content: center;
			margin-bottom: rem(40);
			 &__item {
				&:last-child {
					margin-right: 0;
				}
			}
		}

		&__notReg {
			font-weight: 500;
			margin-bottom: rem(20);
		}

		&__reg {
			font-weight: 500;
		}

	}
	&--addObject {
		max-width: 375px;
		@include media-breakpoint-up(md) {
			max-width: 700px;
		}
		@include media-breakpoint-down(xl) {
			padding: rem(25);
		}
		@include media-breakpoint-up(xl) {
			padding-top: rem(40) !important;
			max-width: 1164px;
		}
	}


	.add-file {
		margin-top: 20px;
		padding-bottom: 25px;
		input{
			display: none;
		}
		
		&__btn-file {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 52px;
			padding: 5px;
			font-weight: bold;
			border: solid 2px $primary;
			border-radius: $border-radius;
			color: $primary;
			@include mt;
			&:hover {
				background-color: $primary;
				color: #fff;
			}
		}
	}
}

#modal-reg, #modal-signin {
	max-width: 550px;
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}

//location modal

.modal-win.modal-location{
	max-width: 700px;
	//
	.tabs__btn{
		font-size: 16px;
		font-weight: 500;
	}

	.form-wrap{

		//
		&__searc-inp-cont{
			margin-bottom: 30px;
			@include media-breakpoint-up(md){
				display: flex;
				align-items: stretch;
				justify-content: space-between;
			}


		}
		&__input-wrap{
			position: relative;
			z-index: 1;
			background-color: $white;
			border-radius: $border-radius;
			overflow: hidden;

			width: 100%;
			flex-grow: 1;
			margin-bottom: 20px;
			padding-bottom: 0;
			@include media-breakpoint-up(md){
				padding-bottom: 0;
				margin-bottom: 0;
				margin-right: 20px;
				width: auto;
			}

			&:before{
				position: absolute;
				z-index: -1;
				content: '';

				width: 16px;
				height: 16px;
				@include media-breakpoint-up(md){
					width: 20px;
					height: 20px;
				}
				top: 50%;
				transform: translateY(-50%);
				left: 20px;

				background-image: url(../img/svg/green-zoom.svg);
				background-repeat: no-repeat;
				background-size: cover;
			}
		}
		&__input{
			background-color: transparent;
			margin: 0;
			height: auto;
			min-height: 0;

			padding: 10px 10px 10px 52px;
			@include media-breakpoint-up(md){
				padding: 16px 10px 16px 52px;
			}
		}
		&__search-btn{
			@extend .btn-pr;

			padding: 16px;
			width: 100%;
			@include media-breakpoint-up(md){
				padding: 10px 66px;
				width: auto;
			}
			font-weight: bold;
			font-size: 16px;
			line-height: (20/16);
		}
		//map
		&__map-cont{
			border-radius: $border-radius;
			overflow: hidden;

			height: 360px;

			iframe{
				//height: 100% !important;
			}
		}


		//city-list
		&__city-list{
			ul{
				list-style: none;
				margin: 0;
				overflow: auto;
				@include media-breakpoint-up(sm){
					max-height: 300px;
				}
				@extend .scroll-bar-frame;

				display: flex;
				flex-wrap: wrap;
				gap: 10px;
			}
			li{
				width: 100%;
				@include media-breakpoint-up(sm){
					width: calc(50% - (10px * 1 / 2));
				}
				@include media-breakpoint-up(lg){
					width: calc(33.3% - (10px * 2 / 3));
				}
			}
			a{
				@include mt();

				color: $black;
				&:hover{
					color: $primary;
					//font-weight: bold;
				}

				display: block;
				font-size: 16px;
				line-height: (20/16);
				padding: 12px 20px;

				background-color: $white;
				@include media-breakpoint-up(sm){
					background-color: transparent;
					padding: 0;
				}

			}
		}
		&__{}
		&__{}
		&__{}
	}
}
//
