mixin topBuy()
	// start topBuy
	+b.buy-sel-form.top-buy#topBuy&attributes(attributes)
		.container
			+form-wrap()
				+e.buy-btn Купить
				+e.inputs-bl
					+e.inputs-strip
						+input('Адрес', 'text', undefined, 'price')
					+e.BUTTON.submit-btn(type='submit')
						+icon('search')
						span Показать 2327 объектов
				+e.A.more-filters-btn(href="#")
					span Больше фильтров
					+icon('chevron-down')
			block
	// end topBuy