// start .sMainPage
.sMainPage {
	background-color: $light;
	position: relative;
	z-index: 1;
	min-height: 100vh;
	color: $white;

	background-size: cover;


	--sPT: #{180px};
	--sPB: #{rem(30)};
	--sTPB: #{rem(24)};
	@include media-breakpoint-up(xl){
		--sPT: #{200px};
		--sPB: #{rem(30)};
		--sTPB: #{rem(24)};
	}
	@include media-breakpoint-up(xxl){
		--sPT: #{296px};
		--sPB: #{rem(30)};
		--sTPB: #{rem(24)};
	}


	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sMainPage

.widget{
	.form-wrap{
		@include media-breakpoint-up(sm){
			margin-bottom: 20px;
		}
		@include media-breakpoint-up(xxl){
			margin-bottom: rem(97);
		}
		&__top-btns{
			display: flex;
			justify-content: space-between;
			@include media-breakpoint-up(lg){
				justify-content: flex-start;
			}

			label{
				width: calc(25% - (10px * 3 / 4));
				@include media-breakpoint-up(lg){
					width: auto;
				}
			}

			input[type="radio"]{
				display: none;
			}
			input[type="radio"]:checked + span{
				background-color: $primary;
				color: $white;
			}
			span{
				width: 100%;
				@include media-breakpoint-up(lg){
					width: rem(160);
					margin-right: rem(10);
				}
				height: rem(39);
				cursor: pointer;

				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;

				font-size: rem(16);

				border-radius: rem(5) rem(5) 0 0;
				@include mt();


				font-weight: 500;
				color: $primary;
				@include media-breakpoint-up(sm){
					font-weight: normal;
					color: $white;
					background-color: $body-color2;
					&:hover{
						font-weight: bold;
						background-color: #309003;
					}
				}


			}
		}
		&__{}
		&__{}
		&__{}
		&__{}

		//
		&__inputs-strip{

			@include media-breakpoint-up(md){
				display: flex;
			}

			align-items: stretch;
			color: $body-color;

			background-color: $white;
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

			//border-radius: 0 0 $border-radius $border-radius;
			@include media-breakpoint-up(lg){
				border-radius: 0 $border-radius $border-radius $border-radius;
			}


			padding: rem(30) rem(15);
			@include media-breakpoint-up(md){
				padding: rem(10) rem(20) rem(10) rem(0);
				margin-bottom: rem(20);
			}
			@include media-breakpoint-up(xl){
				padding: rem(10) rem(30) rem(10) rem(0);
			}
		}
		//pop-ups
		&__pop-up-wrap{
			position: relative;

			margin-bottom: 26px;
			@include media-breakpoint-up(md){
				margin-bottom: 0;
				padding-right: rem(20);
				padding-left: rem(15);
			}
			@include media-breakpoint-up(xl){
				padding-right: rem(60);
				padding-left: rem(30);
			}

			//background-color: red;

			height: auto;
			@include media-breakpoint-up(md){
				height: 60px;
				border-right: 1px solid $secondary;
			}
			&.price-type{

				@include media-breakpoint-up(md){
					width: 20%;
					margin-right: 15px;
				}
				@include media-breakpoint-up(xl){
					width: 12.8%;
					margin-right: 15px;
				}
			}
			&.room-type{
				@include media-breakpoint-up(md){
					width: 25%;
				}
				@include media-breakpoint-up(xl){
					width: 17.8%;
				}
			}
			&.object-type{
				@include media-breakpoint-up(md){
					width: 25%;
				}
				@include media-breakpoint-up(xl){
					width: 34%;
				}
			}
		}
		&__pop-up-header{
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			height: 100%;
			align-items: center;

			margin-bottom: 20px;
			pointer-events: none;
			@include media-breakpoint-up(md){
				margin-bottom: 0;
				pointer-events: auto;
			}

			span{
				font-size: 12px;
				line-height: 1;
				@include media-breakpoint-up(sm){
					font-size: rem(14px);
					line-height: (18/14);
				}

				font-weight: 500;
				@include media-breakpoint-up(md){
					font-weight: 400;
				}
			}
			.icon{
				@include media-breakpoint-down(md){
					display: none;
				}
				flex-shrink: 0;
				font-size: rem(10);
				margin-left: 8px;
				@include mt();
			}

			&.active{
				.icon{
					transform: rotateX(180deg);
				}
			}
		}
		//pop-up-content
		&__pop-up-content{
			position: static;
			@include media-breakpoint-up(md){
				position: absolute;

				display: none;
				&.active{
					display: block;
				}
			}

			z-index: 10;
			left: 0;
			top: calc(100% + 20px);

			@include media-breakpoint-up(md){
				background-color: $white;
				box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
				border-radius: $border-radius;
			}

			&.price-type{
				width: 100%;
				@include media-breakpoint-up(md){
					width: 270px;
				}
			}
			&.room-type{
				width: 100%;
				@include media-breakpoint-up(md){
					width: 200px;
				}
				@include media-breakpoint-up(lg){
					width: 100%;
				}
			}
			&.object-type{
				width: 100%;
				@include media-breakpoint-up(md){
					width: 300px;
				}
				@include media-breakpoint-up(lg){
					width: 100%;
				}
			}
		}

		//long checkbox
		&__long-ch-cont{

			@include media-breakpoint-up(md){
				padding: rem(30);
			}
		}
		//&__long-checkbox => ctrf + f

		//square-checkbox
		&__squsre-ch-cont{
			display: flex;
			flex-wrap: wrap;

			@include media-breakpoint-up(md){
				padding: rem(30);
			}
			@include media-breakpoint-up(xl){
				padding: rem(30) 15px;
			}
			@include media-breakpoint-up(base){
				padding: rem(30) 17px;
			}
		}
		&__square-checkbox-cont{

			@include media-breakpoint-down(sm){
				width: calc((100% / 6) - (7px * 5 / 6));

				margin-right: 7px;
				margin-bottom: 15px;
				&:nth-child(6n){
					margin-right: 0;
				}
			}
			@include media-breakpoint-between(sm, md){
				width: calc((100% / 9) - (7px * 8 / 9));

				margin-right: 7px;
				margin-bottom: 15px;
				&:nth-child(9n){
					margin-right: 0;
				}
			}
			@include media-breakpoint-up(md){
				width: calc((100% / 4) - (12px * 3 / 4));

				margin-right: 12px;
				margin-bottom: 12px;
				&:nth-child(4n){
					margin-right: 0;
				}
			}
		}
		&__square-checkbox{
			cursor: pointer;
			position: relative;
			width: 100%;
			padding-top: 100%;
			height: 0;


			input{
				display: none;
			}
			input:checked + .checkbox{
				background-color: $primary;
				//box-shadow: 0 0 0 0 $primary;
				border: 2px solid $primary;
				color: $white;

				font-weight: 500;
			}

			&:hover{
				.checkbox{
					box-shadow: inset 0 0 0 1px $primary;
					border: 2px solid $primary;
				}
			}
			.checkbox{
				border-radius: 50%;
				@include media-breakpoint-up(md){
					border-radius: 2px;
				}

				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				@include mt();
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;

				background-color: $white;
				//box-shadow: inset 0 0 0 2px $secondary;
				border: 2px solid $secondary;
				color: $body-color;

				font-size: 14px;
			}
		}

		//
		&__room-long-cb{
			width: 100%;

			//padding-top: 20px;
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			@include media-breakpoint-up(md){
				display: block;
				padding-top: 0;
			}
		}
		&__room-long-checkbox{
			cursor: pointer;
			display: flex;

			width: auto;
			margin-right: 10px;
			margin-bottom: 10px;
			&:last-child{
				margin-right: 0;
			}
			@include media-breakpoint-up(md){
				width: 100%;
				align-items: flex-start;

				margin-bottom: rem(15);
				margin-right: 0;
				&:last-child{
					margin-bottom: 0;
				}
			}

			&:hover{
				.checkbox{
					box-shadow: inset 0 0 0 2px $primary;
				}
			}
			input{
				display: none;
			}
			input:checked + .checkbox{
				background-color: $primary;
				box-shadow: 0 0 0 0 $primary;
				.icon{
					opacity: 1;
				}
			}
			input:checked + .checkbox + .long-chb-txt{
				background-color: $secondary;
				color: $body-color2;
				font-weight: 500;
				@include media-breakpoint-up(md){
					font-weight: 400;
					background-color: transparent;
				}
			}
			.checkbox{
				display: none;
				@include media-breakpoint-up(md){
					display: flex;
				}

				flex-shrink: 0;
				width: 14px;
				height: 14px;
				margin-right: 8px;

				//display: flex;
				align-items: center;
				justify-content: center;
				box-shadow: inset 0 0 0 2px $secondary;
				border-radius: rem(2);

				@include mt();

				background-color: $white;
				.icon{
					@include mt();
					color: $white;
					font-size: rem(7px);
					opacity: 0;
				}
			}

			.long-chb-txt{
				@include mt();

				font-size: rem(14px);
				line-height: 1;

				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid $secondary;
				height: 40px;
				border-radius: 20px;
				padding: 0 20px;

				@include media-breakpoint-up(md){
					display: block;
					border: none;
					border-radius: 0;
					height: auto;
					padding: 0;
				}
			}
		}

		//price
		&__price-pp-cont{
			@include media-breakpoint-up(md){
				padding: rem(30);
			}

		}

		&__bottom-radio{
			display: flex;

			padding-bottom: 10px;
			@include media-breakpoint-up(md){
				padding-bottom: 0;
			}
			label{
				width: 50%;

				//border radius
				&:last-child{
					span{
						border-radius: 0 20px 20px 0;
					}
				}
				&:first-child{
					span{
						border-radius: 20px  0 0 20px;
					}
				}
				@include media-breakpoint-up(md){
					&:last-child{
						span{
							border-radius: 0 $border-radius $border-radius 0;
						}
					}
					&:first-child{
						span{
							border-radius: $border-radius  0 0 $border-radius ;
						}
					}
				}
			}

			input[type="radio"]{
				display: none;
			}
			input[type="radio"]:checked + span{
				font-weight: 500;

				background-color: $secondary;
				@include media-breakpoint-up(md){
					background-color: $primary;
					color: $white;
				}
			}
			span{
				cursor: pointer;
				@include mt();
				height: 40px;
				padding: 5px;

				display: flex;
				align-items: center;
				justify-content: center;


				color: $body-color2;
				background-color: $white;
				border: 1px solid $secondary;
				@include media-breakpoint-up(md){
					background-color: $white;
					border: 2px solid $primary;
					&:hover{
						box-shadow: inset 0 0 0 2px $primary;
					}
				}
			}
		}
		&__{}

		//input, address
		&__input-wrap{
			flex-grow: 1;
			min-width: rem(210px);
			padding: 0;
			display: flex;
			align-items: center;

			input{
				margin: 0;
				min-height: 0;
				width: 100%;
				font-size: rem(14px);
				line-height: (18/14);
				//padding: rem(14px) rem(13px);
				padding: 10px 13px;

				//height: 100%;
				height: auto;

				box-shadow: none;
				outline: none !important;

				border: 1px solid $secondary;
				@include media-breakpoint-up(md){
					border: 1px solid transparent;
				}
				&:hover, &:focus{
					border: 1px solid $secondary;
				}
			}
		}

		//
		&__submit-btn{
			@extend .btn-pr;

			width: 100%;
			justify-content: center;
			margin-bottom: 30px;
			margin-top: 20px;
			@include media-breakpoint-up(md){
				margin-left: auto;
				width: auto;
				margin-bottom: 0;
				margin-top: 0;
			}

			padding: rem(20);
			display: flex;
			align-items: center;
			.icon{
				@include mt();
				color: $white;
				font-size: rem(20);
				margin-right: rem(15);
			}

			font-weight: bold;
			font-size: rem(16px);
			line-height: (20/16);
		}
		//
		&__more-filters-btn{
			display: flex;

			flex-direction: column;
			padding: 20px 0 0 0;
			font-weight: 500;
			@include media-breakpoint-up(md){
				flex-direction: row;
				padding: 20px 0;
				font-weight: 400;


				margin-bottom: rem(20);
			}
			align-items: center;

			span{
				font-weight: 500;
				font-size: rem(14px);
				line-height: (18/14);

				margin-bottom: rem(10);
				@include media-breakpoint-up(md){
					margin-bottom: 0;
					margin-right: rem(10);
				}
			}
			.icon{
				font-size: rem(10);
			}

			&.active{
				//background-color: red;
				.icon{
					transform: rotateX(180deg);
				}
			}

			//main-page-btn
			&.main-page-btn{
				background-color: $white;
				padding-bottom: 20px;

				@include media-breakpoint-up(md){
					width: 200px;
					border-radius: $border-radius;

					background-color: $white;
					border: 2px solid $primary;
					box-shadow: inset 0 0 0 0 $primary;
					justify-content: center;
					color: $primary !important;
					&:hover{
						background-color: $white;
						border: 2px solid $primary;
						box-shadow: inset 0 0 0 2px $primary;
						color: $primary;
					}
					&:focus{
						background-color: $primary !important;
						color: $white !important;
						box-shadow: none !important;
					}

					&.muted{
						color: $secondary;
						border: 2px solid $secondary;
						box-shadow: inset 0 0 0 0px $secondary;
						pointer-events: none;
					}

					font-weight: bold;
				}
			}
		}
		//
		&__after-cont{
			position: relative;
		}
	}


	//call btn
	&__call-btn{
		position: fixed;
		z-index: 100;
		bottom: 15px;
		right: 15px;
		@include media-breakpoint-up(sm){
			z-index: 0;
			position: static;
			bottom: unset;
			right: unset;
		}

		@extend .btn-pr;

		margin-left: auto;
		width: rem(65px);
		height: rem(65px);
		border-radius: 50%;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		@include media-breakpoint-down(sm){
			background-color: $white !important;
			border: 2px solid $primary !important;
		}

		.icon{
			font-size: rem(30);
			color: $primary;
			@include media-breakpoint-up(sm){
				color: $white;
			}
		}
	}
}

.long-checkbox{
	cursor: pointer;
	width: 100%;
	margin-bottom: rem(15);
	&:last-child{
		margin-bottom: 0;
	}

	display: flex !important;
	align-items: flex-start;//center

	input{
		display: none;
	}
	input:checked + .checkbox{
		background-color: $primary;
		box-shadow: 0 0 0 0 $primary;
		.icon{
			opacity: 1;
		}
	}

	&:hover{
		.checkbox{
			box-shadow: inset 0 0 0 2px $primary;
		}
	}
	.checkbox{
		flex-shrink: 0;
		width: 14px;
		height: 14px;
		margin-right: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: inset 0 0 0 2px $secondary;
		border-radius: rem(2);

		@include mt();

		background-color: $white;
		.icon{
			@include mt();
			color: $white;
			font-size: rem(7px);
			opacity: 0;
		}
	}

	.long-chb-txt{
		color: $body-color2;
		font-size: rem(14px);
		line-height: 1;
	}
}

//radio
.long-radio{
	cursor: pointer;
	width: 100%;
	margin-bottom: rem(15);
	&:last-child{
		margin-bottom: 0;
	}

	display: flex !important;
	align-items: flex-start;//center

	input{
		display: none;
	}
	input:checked + .checkbox:after{
		opacity: 1;
	}

	&:hover{
		.checkbox{
			box-shadow: inset 0 0 0 2px $primary;
		}
	}
	.checkbox{
		position: relative;
		flex-shrink: 0;
		width: 14px;
		height: 14px;
		margin-right: 8px;

		box-shadow: inset 0 0 0 2px $secondary;
		border-radius: rem(2);
		@include mt();
		background-color: $white;

		&:after{
			@include mt();
			content: '';
			position: absolute;
			width: calc(100% - 6px);
			height: calc(100% - 6px);
			left: 50%;
			top: 50%;
			transform: translateY(-50%) translateX(-50%);
			opacity: 0;
			background-color: $primary;

		}

	}

	.long-chb-txt{
		color: $body-color2;
		font-size: rem(14px);
		line-height: 1;
	}
}