// start .sMainPage
.sMainPage {
	position: relative;
	z-index: 1;
	min-height: 100vh;
	color: $white;

	background-size: cover;


	--sPT: #{296px};
	--sPB: #{rem(30)};
	--sTPB: #{rem(24)};


	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sMainPage

.buy-sel-form{
	.form-wrap{
		margin-bottom: rem(97);
		&__top-btns{
			display: flex;
			label{
				width: auto;
			}

			input[type="radio"]{
				display: none;
			}
			input[type="radio"]:checked + span{
				background-color: $primary;
			}
			span{
				width: rem(160);
				height: rem(39);
				cursor: pointer;

				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;

				color: $white;
				font-size: rem(16);
				margin-right: rem(10);

				border-radius: rem(5) rem(5) 0 0;
				@include mt();

				background-color: $body-color2;
				&:hover{
					font-weight: bold;
					background-color: #309003;
				}
			}
		}
		&__{}
		&__{}
		&__{}
		&__{}

		//
		&__inputs-strip{
			display: flex;
			align-items: center;

			background-color: $white;
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
			border-radius: 0 $border-radius $border-radius $border-radius;

			padding: rem(9) rem(30);
			margin-bottom: rem(20);
		}

		&__input-wrap{
			flex-grow: 1;
			min-width: rem(210px);
			display: flex;
			align-items: center;

			input{
				min-height: 0;
				width: 100%;
				font-size: rem(14px);
				line-height: (18/14);
				padding: rem(14px) rem(13px);

				box-shadow: none;
				outline: none !important;
				border: 1px solid transparent;
				&:hover, &:focus{
					border: 1px solid $secondary;
				}
			}
		}
		&__select2-cont{
			//1
			&.house-select, &.room-select{
				width: rem(298);

				margin-right: rem(90px);
				&:after{
					left: calc(100% + 60px);
				}
			}
			//2
			&.room-select{
				width: rem(125);

				margin-right: rem(90px);
				&:after{
					left: calc(100% + 60px);
				}
			}
			//3
			&.price-select{
				width: rem(74);

				margin-right: rem(77px);
				&:after{
					left: calc(100% + 60px);
				}
			}


			position: relative;
			&:after{
				content: '';
				position: absolute;
				top: 0;
				height: 100%;
				width: 1px;
				//display: block;
				background-color: $secondary;
			}

			.select2-container{
				width: 100% !important;
				height: rem(60);
				background-color: transparent;
			}
			.select2-selection{
				height: 100%;
				border-radius: 8px;
				border: 1px solid transparent; //$select-border-color
				background-color: $body-bg;

				display: flex;
				align-items: center;
				justify-content: flex-start;
			}
			.select2-selection__rendered{
				height: 100%;
				line-height: 60px !important;
				padding: 0 0 0 0 !important;
				font-size: 14px !important;

				@include mt();
				color: $body-color;
				&:hover{
					color: $black;
				}
			}
			.select2-selection__placeholder{
				font-size: 14px;
				display: block;
				color: $body-color !important;
			}
			.select2-selection__arrow{
				flex-shrink: 0;
				background-color: transparent;
				//background-color: red;
				position: relative !important;

				top: unset !important;
				bottom: unset !important;
				left: unset !important;
				right: unset !important;

				height: 100% !important;
				width: 10px !important;
				margin-left: rem(15);
				b{
					display: none;
				}
				@include mt();
				background-image: url(../img/svg/chevron-down.svg);
				background-repeat: no-repeat;
				background-position: center;
			}
			.select2-container--open{
				.select2-selection__arrow{
					padding-top: 0px;
					transform: rotateX(180deg);
					//padding-bottom: 5px;
				}
			}
		}
		//
		&__submit-btn{
			@extend .btn-pr;
			margin-left: auto;

			padding: rem(20);
			display: flex;
			align-items: center;
			.icon{
				color: $white;
				font-size: rem(20);
				margin-right: rem(15);
			}

			font-weight: bold;
			font-size: rem(16px);
			line-height: (20/16);
		}
		&__{}
		&__{}
	}

	//call btn
	&__call-btn{
		@extend .btn-pr;

		margin-left: auto;
		width: rem(65px);
		height: rem(65px);
		border-radius: 50%;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		.icon{
			font-size: rem(30);
			color: $white;
		}
	}
}
//select