// start .sAdvantages
.sAdvantages {
	padding-top: calc(var(--sPT) / 1.25);
	@include media-breakpoint-up(lg) {
		padding-top: calc(var(--sPT) * 1.25);
	}

	.section-title {

		padding-top: rem(25);
		h2 {
			line-height: 1.15;
			@include media-breakpoint-down(lg) {
				text-align: center;
				font-weight: bold;
	
			}
		}
	}

	&__item {
		display: flex;
		align-items: center;
		margin-bottom: rem(30);

		.icon {
			color: $primary;
			margin-right: rem(20);
			// font-size: rem(35);
			width: rem(30);
			height: rem(30);
		}
	}

	picture {
		@include block(540,397);
		@include media-breakpoint-down(lg) {
			border-radius: 10px;
			overflow: hidden;
			margin-bottom: rem(30);
		}

		img {
			width: 100%;
			height: 100%;
			@include a-cent;
			object-fit: cover;
		}
	}

	&__text {

	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sAdvantages