html {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

.pixel-perfect {
	top: 0;
	//@include a-cent(x);
	left: 0;
	position: absolute;
	display: block;
	pointer-events: none;
	z-index: 99999;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	// background-position: center -206px;
	opacity: 0;
	// opacity: 0.7;
}

body,
html {
	font-size: var(--fontSizeBase);
	// @include font-size(1rem);
}


.section {
	@include bgs; 
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title { 
	padding-bottom: var(--sTPB);
	h2{
		font-weight: 800;
		line-height: (45/36);
	}

}

body {
	min-width: 320px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: #000000;
		opacity: 0;
		z-index: -1;
		top: 0;
	}

	&.fixed-on-filter-js{
		position: fixed;
		width: 100%;
		overflow: hidden;
	}

}

.mono {
	font-family: $font-family-monospace;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.ttu {
	text-transform: uppercase;
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}

.row--small {
	@include roww(10)
}


.main-wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
}

.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;

	i {
		line-height: 1;

	}

	cursor: pointer;

	&.l {
		left: 0;

		svg {
			@include transform(rotateY(180deg));
		}
	}

	&.r {
		right: 0;

	}

	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}


.tabs {
	&__caption{
		display: flex;
		margin-bottom: 25px;
	}

	&__btn {
		border: 2px solid #2A7D03;
		color: #2A7D03;
		padding: 10px 14px;
		cursor: pointer;
		flex-grow: 1;
		width: 50%;
		text-align: center;
		font-weight: bold;
		&:first-child{
			border-radius: 5px 0px 0px 5px;
		}
		&:last-child{
			border-radius: 0px 5px 5px 0px;
		}
		&:hover {
			cursor: pointer;
			background-color: #2A7D03;
			color: #fff;
		}

		&.active {
			background-color: #2A7D03;
			color: #fff;
		}

	}

	&__content {
		&.active {
			display: block;
		}

		display: none;
	}
}


// select.form-control {
// 	background-image: url(../img/svg/chevron-up.svg);
// 	background-repeat: no-repeat;
// 	background-position: calc(100%  - 20px) 50%; // background-size: rem(18) ;
// 	padding-right: rem(43px);
// 	appearance: none !important;

// 	&:not([size]):not([multiple]) {
// 		height: $input-height;
// 	}

// 	&:focus::-ms-value {

// 	}
// }


input[type='number'] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}


.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	border: 2px solid var(--swiperBorderColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	color: var(--swiperColorDef);
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1);
	margin-top: calc(-1 * var(--swiperArrowSize) * 0.4);
	@include mt;

	&:hover {
		background-color: $primary;
		border-color: $primary;
		color: var(--swiperBgDef);
	}

	.icon {
		font-size: rem(12);
	}

	&::after {
		display: none;
	}

	@include media-breakpoint-up(lg) {}


	// --swiperArrowPosition: -15px; 
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $secondary;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);

		&-active,
		&:hover {
			background-color: $primary;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}


picture {
	display: block;

	// display: flex;
	// width: 100%;
	// height: 100%;
	img {
		@extend .res-i;
	}

	img.object-fit-js {
		height: 100%;
		width: 100%;
		// max-width: 100%;
		display: block;
		object-fit: cover;
	}
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
	font-family: 'object-fit: cover; object-position: top;';
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	width: 100%;
	z-index: 1000;
	background: #000;
	min-height: 100px;
	font-size: 20px;
	color: #ffffff;
}

iframe {
	border: none;
}


//aside
@include media-breakpoint-up(xl) {
	:root{
		--asideW: #{rem(180)};
	}
}

//!!
body{
	//min-height: 4000px;
}


//btns
.btn-pr-empty{
	@extend .btn;
	@extend .btn-primary;

	background-color: $white;
	border: 2px solid $primary;
	box-shadow: inset 0 0 0 0 $primary;
	color: $primary !important;
	&:hover{
		background-color: $white;
		border: 2px solid $primary;
		box-shadow: inset 0 0 0 2px $primary;
		color: $primary;
	}
	&:focus{
		background-color: $primary !important;
		color: $white !important;
		box-shadow: none !important;
	}

	&.muted{
		color: $secondary;
		border: 2px solid $secondary;
		box-shadow: inset 0 0 0 0px $secondary;
		pointer-events: none;
	}

	font-weight: bold;
}

.btn-pr{
	@extend .btn;
	@extend .btn-primary;
	@include mt();

	box-shadow: none !important;
	border: none !important;
	outline: none !important;

	background-color: $primary;
	&:hover{
		background-color: #309003;
	}
	&:focus{
		background-color: #226702;
	}
}

.icon-btn-frame{

	.icon{
		@include mt();
		color: $secondary;
	}
	&:hover{
		.icon {
			color: $primary;
		}
	}
	&.active{
		.icon {
			color: $primary;
		}
	}
	&.muted{
		color: rgba($secondary, .8) !important;
		pointer-events: none;
	}
}



//

.container{
	@include media-breakpoint-between(xl, xxl){
		//margin-left: var(--asideW);

		margin-left: calc((100vw - 1080px - 180px) / 2 + 180px);
	}

}

//breadcrumbs
.breadcrumb{
	margin-bottom: rem(20);
	background: transparent;
	border-radius: 0;
	padding: 0;

	.breadcrumb-item+.breadcrumb-item{

		padding-left: 3px;
		&:before{
			font-size: 10px;
			padding-right: 3px;
		}
	}

	&-item{
		&:last-child{
			a{
				color: $body-color;
			}
		}

		a{
			font-size: rem(12px);
			line-height: (15/12);

			@include mt();
			color: $secondary;
			&:hover{
				color: $body-color;
			}
		}
	}
}

//swiper pugin frame
.swiper-pugin-frame{
	display: flex;
	align-items: center;
	justify-content: center;
	//padding-top: rem(25);
}
.swiper-pagination-bullet{
	width: 12px;
	height: 12px;
	margin: 0 4px;
	border-radius: 50%;
	@include mt();
	background-color: $secondary;

	&-active, &:hover{
		background-color: $primary;
	}
}
//swiper prev,next frame
.swiper-prev-frame,
.swiper-next-frame{
	outline: none !important;
	box-shadow: none !important;
	border: none !important;

	display: none;
	@include media-breakpoint-up(base){
		display: flex;
	}

	position: absolute;
	z-index: 20;
	top: 50%;

	@include mt();
	transform: translateY(-70%);
	&:hover{
		transform: translateY(-75%) scale(1.1) translateX(-10%);
	}

	width: rem(30px);
	height: rem(30px);
	border-radius: 50%;

	//display: flex;
	align-items: center;
	justify-content: center;

	.icon{
		font-size: rem(30px);
		color: $body-color2;
	}

}

.swiper-prev-frame{
	left: -60px;
}
.swiper-next-frame{
	right: -60px;
}

.scroll-bar-frame{
	&::-webkit-scrollbar {
		width: 2px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: $secondary;
		//background: linear-gradient(90deg, $secondary 0%, $secondary 16.66%, rgba(255,255,255,0) 16.67%,  rgba(255,255,255,0) 100%);
	}

	.select-98-results__message[role="alert"]{
		padding-left: 0 !important;
		&:before, &:after{
			content: none;
		}
	}
}