mixin sCompanyMission()
	// start sCompanyMission
	+b.SECTION.sCompanyMission.section#sCompanyMission&attributes(attributes)
		.container
			+e.H2.mob-title.d-lg-none Миссия компании
			.row
				.col-lg-6
					+pic('company-mission-img.jpg')(class="sCompanyMission__img")
				.col-lg-6
					+b.section-title
						h2.d-none.d-lg-block Миссия компании
						p
							| Как для каждого охотника, наш трофей&nbsp;&mdash; это удовлетворённый клиент, получивший желаемое. На&nbsp;рынке недвижимости мы&nbsp;ориентируемся, как на&nbsp;карте знакомой местности. Всегда знаем, когда надо поторопиться и&nbsp;от&nbsp;кого стоит делать ноги. Ведём дела прозрачно и&nbsp;без лишних потерь.
							|
							br
							| Наша цель, чтобы каждый занимал своё место под солнцем!
	// end sCompanyMission