mixin sCompanyTargets()
	// start sCompanyTargets
	+b.SECTION.sCompanyTargets.section#sCompanyTargets&attributes(attributes)
		style.
			@media (min-width: 576px) {
				.sCompanyTargets {
					background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), no-repeat center/cover url(img/@2x/company-targets.jpg);
				}
			}
		.container
			+b.section-title.text-center
				h2 Цели компании
			+e.row.row
				+companyTargetItem(1)
					p Стать Вам другом, соратником и&nbsp;лучшим помощником в&nbsp;делах связанных с&nbsp;недвижимостью
				+companyTargetItem(2)
					p Предоставлять полную картину происходящего на&nbsp;рынке недвижимости
				+companyTargetItem(3)
					p Обеспечить гарантировано выгодную для нашего клиента сделку
				+companyTargetItem(4)
					p
						| Постоянный рост
						br
						| и&nbsp;совершенствование
	// end sCompanyTargets

mixin companyTargetItem(imgNum)
	.col-sm-6.col-lg-3
		+e.item
			+e.img-ball
				+e.img-cont
					img.lazy(src="#" data-src=`img/svg/company-targets-${imgNum}.svg` alt="")
			+e.descr
				block