extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAside/_sAside.pug
include ../blocks/sMainPage/_sMainPage.pug
include ../blocks/topBuy/_topBuy.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Главная'
	title= title
block pagecontent
	.main-wrapper()
		+Aside()(class='black-aside')
		//-.white-aside
		+header()
			+infoStrip()
			+top-nav()(class='with-black-aside')
				//-with-white-aside
				img.lazy(src="#" data-src="img/@2x/logo-w.png" alt="")
				//img.lazy(src="#" data-src="img/@2x/logo-green.png" alt="")
		+sMainPage
	//+footer()


	