extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAside/_sAside.pug
include ../blocks/sMainPage/_sMainPage.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Главная'
	title= title
block pagecontent
	.main-wrapper()
		+BlackAside
		+b.MAIN.main-content.has-black-aside
		+mob-mnu()
		+header()
			+top-nav()(class='with-black-aside')
				img.lazy(src="#" data-src="img/@2x/logo-w.png" alt="")
		+sMainPage
			+infoStrip()
	//+footer()


	