mixin sCatalog()
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		block
		.container
			+e.map-block.map-block-js
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10158.698586354934!2d30.460393000000003!3d50.465783!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cdd1bf50ff55%3A0x5449b859d7752573!2z0YPQuy4g0KHQtdC80YzQuCDQpdC-0YXQu9C-0LLRi9GFLCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1596469991978!5m2!1sru!2sua" width="100%" height="360" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				+e.show-on-map.show-map-js.active
					+e.show-on-map-btn Показать на карте
				+e.cross-btn.hide-map-js
					+icon('close')
			+catalogRow()
			+e.A.show-more-btn(href="#") Показать ещё
			+e.A.help-btn(href="#") Нужна помощь специалиста?
	// end sCatalog

mixin catalogRow()
	+b.catalog-row.row
		+catalogItem()
			+catalogItemSlide(1,1)
			+catalogItemSlide(2,1)
			+catalogItemSlide(3,1)
		+catalogItem()
			+catalogItemSlide(1,2)
			+catalogItemSlide(2,2)
			+catalogItemSlide(3,2)
		+catalogItem()
			+catalogItemSlide(1,3)
			+catalogItemSlide(2,3)
			+catalogItemSlide(3,3)
		//-2
		+catalogItem()
			+catalogItemSlide(1,4)
			+catalogItemSlide(2,4)
			+catalogItemSlide(3,4)
		+catalogItem()
			+catalogItemSlide(1,5)
			+catalogItemSlide(2,5)
			+catalogItemSlide(3,5)
		+catalogItem()
			+catalogItemSlide(1,6)
			+catalogItemSlide(2,6)
			+catalogItemSlide(3,6)
		//-3
		+catalogItem()
			+catalogItemSlide(1,7)
			+catalogItemSlide(2,7)
			+catalogItemSlide(3,7)
		+catalogItem()
			+catalogItemSlide(1,8)
			+catalogItemSlide(2,8)
			+catalogItemSlide(3,8)
		+catalogItem()
			+catalogItemSlide(1,9)
			+catalogItemSlide(2,9)
			+catalogItemSlide(3,9)
mixin catalogItem()
	.col-md-6.col-lg-4
		+e.item
			+e.slider
				.catalog-item-prev
					+icon('chevron-left')
				.catalog-item-next
					+icon('chevron-right')
				.catalog-item-pugin-js
				.swiper-container.catalog-item-sl-js
					.swiper-wrapper
						block
			+e.description
				+e.price-bl
					+e.price 3 900 000 ₽
					+e.A.like(href='#')
						+icon('heart')
				+e.chars-list
					+e.char-item 2-ком. квартира
					+e.char-item 73 кв. м.
					+e.char-item 2/15 эт.
				+e.street ул. Воскресенская 12А
				+e.city м. Сокольники
				+e.A.btn(href='#')
					+icon('phone')
					span Показать телефон

mixin catalogItemSlide(imgNum, fancyGroup)
	.swiper-slide
		+e.A.fancy-link(href=`img/@2x/prod-card-${imgNum}.jpg` data-fancybox=`catalogImg${fancyGroup}`)
			img.swiper-lazy(src="#" data-src=`img/@2x/prod-card-${imgNum}.jpg` alt="")