mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.toggle-menu-mobile--js.d-lg-none
		span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy&attributes(attributes)
		+e.menu-btn.burger-js.d-xl-none
			span
		+e.A.logo(href="/")
			//block
			img.img-svg-js(src="img/svg/logo-svg.svg")
		+e.container.container
			+e.location-link.d-none.d-lg-flex
				.location-link-inner.location-link-js
					+icon('location')
					span Санкт-Петербург
					+icon('chevron-down')
				+yourCityPopUp()
			+e.A.mail-link.d-none.d-md-flex(href='mailto:agentstvo@gmail.com')
				+icon('mail')
				span agentstvo@gmail.com
			+e.A.phone-link.d-none.d-md-flex(href='tel:+79053454212')
				+icon('phone')
				span +7 (905) 345-42-12
			+e.A.consult-btn.link-modal.d-none.d-xl-inline-block(href="#modal-call" data-title='Бесплатная консультация' data-order='Оставьте заявку и мы вам перезвоним') Бесплатная консультация
			+e.icons-box
				a.icon-btn-frame(href="#")
					+icon('heart')
				+e.dropdown-wrap
					a.icon-btn-frame.link-modal(href="#modal-signin")
						+icon('user')
					+e.logout
						+e.btn.btn-secondary(href="#") Выйти
				//location
	// end top-nav

mixin yourCityPopUp()
	+b.your-city.active
		+e.city Санкт-Петербург
		+e.txt Продолжить поиск в этом городе?
		+e.btns-bl
			+e.yes-btn Да, в этом
			+e.no-btn.link-modal(href="#modal-location") Нет, в другом

mixin infoStrip()
	+b.info-strip
		+e.location-link.d-lg-none
			.location-link-inner.location-link-js
				+icon('location')
				span Санкт-Петербург
				+icon('chevron-down')
			+yourCityPopUp()
		+e.address-block.d-none.d-lg-flex
			+e.address-gray Адрес офиса:
			+e.address Санкт-Петербург, Воскресенская 12
			+e.shedule ПН-ПТ с 9:00 до 20:00
		+e.A.add-btn.link-modal(href="#modal-addObject")
			+icon('plus')
			span.d-none.d-sm-block Добавить объект