.top-nav {
	display: flex;
	align-items: center;
	@include media-breakpoint-up(xl){
		display: block;
	}

	position: fixed;
	z-index: 101;
	width: 100%;
	height: 70px; //??

	padding: rem(16px) 0 rem(15) 0;



	&__menu-btn{
		//background-color: rgba($blue, .1);

		height: 100%;
		padding-left: 15px;
		padding-right: 13px;
		display: flex;
		align-items: center;

		span,
		span:before,
		span:after{
			background-color: $dark;
			width: 20px;
			height: 1px;
			@include mt();
		}

		//
		span:before,
		span:after{
			content: '';
			position: absolute;
			left: 0;
		}
		//

		span{
			position: relative;
		}
		span:before{
			top: 5px;
		}
		span:after{
			bottom: 5px;
		}

		&.active{
			span{
				background-color: transparent;
			}
			span:before,
			span:after{
				width: 20px;
				height: 2px;
				border-radius: 1px;
			}
			span:before{
				transform: rotate(45deg) translateY(1.5px);
			}
			span:after{
				transform: rotate(-45deg) translateY(-1.5px);
			}

		}

	}
	//black aside
	&.with-black-aside{
		.top-nav__logo{
			//background-color: rgba($red, .1);
		}

		background: $white;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
		@include media-breakpoint-up(xl){
			background-color: transparent;
			box-shadow: none;
			&:before{
				content: '';
				position: fixed;
				z-index: 100;
				top: 0;
				left: var(--asideW);
				width: calc(100% - var(--asideW));
				height: 70px;
				background: $white;
				box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
			}

			.top-nav__logo{
				position: fixed;
				left: 0;
				top: 0;
				z-index: 101;
				box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
				//width: var(--asideW);

				//display: block;

				height: 71px;
				border-bottom: 1px solid $secondary;


				background: rgba($black, 0.4);
				backdrop-filter: blur(15px);

				.img-svg-js{
					path{
						fill: $primary !important;
					}
					@include media-breakpoint-up(xl){
						path{
							fill: $white !important;
						}
					}
				}
			}
		}

	}
	//white aside
	&.with-white-aside{
		background: $white;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);

		@include media-breakpoint-up(xl){
			.top-nav__logo{
				position: fixed;
				left: 0;
				top: 0;
				z-index: 100;
				//width: var(--asideW);
				//display: block;

				height: 71px;
				border-bottom: 1px solid $secondary;
				background-color: $white;
				.img-svg-js{
					path{
						fill: $primary !important;
					}
				}

			}
		}

	}
	.top-nav__logo{
		display: flex;
		align-items: center;
		justify-content: center;

		flex-shrink: 0;
		width: 155px;
		@include media-breakpoint-up(xl){
			padding: 10px 14px;
			width: var(--asideW);
		}

		.img-svg-js{
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
		}

	}



	&__container{
		position: relative;
		z-index: 101;

		display: flex;
		align-items: center;

		flex-grow: 1;

		justify-content: flex-end;
		@include media-breakpoint-up(lg){
			justify-content: space-between;
		}
		@include media-breakpoint-up(xl){
			flex-grow: 0;
			justify-content: flex-start;
		}

		@include media-breakpoint-down(xl){
			max-width: 100% !important;
		}
	}
	&__location-link{
		display: flex;
		align-items: center;
		@include media-breakpoint-up(xl){
			margin-right: rem(10);
		}

		color: $body-color2;
		@include mt();

		.icon-location{
			@include mt();
			font-size: rem(20);
			margin-right: rem(15);
			color: $dark;
		}
		span{
			font-size: rem(16);
		}
		.icon-chevron-down{
			@include mt();
			font-size: rem(10);
			color: $body-color2;
			margin-left: rem(10);
		}

		&:hover{
			color: $black;
			.icon-location, .icon-chevron-down{
				color: $black;
			}
		}
	}
	&__mail-link{
		display: flex;
		align-items: center;

		color: $dark;
		@include mt();
		&:hover{
			color: $black;
			.icon{
				color: $black;
			}
		}

		margin-right: rem(30);
		@include media-breakpoint-up(lg){
			margin-right: rem(0);
		}
		@include media-breakpoint-up(xl){
			margin-right: rem(70);
			margin-left: auto;
		}
		.icon{
			@include mt();
			font-size: rem(20);
			margin-right: rem(15);
		}
		span{
			white-space: nowrap;
			@include mt();
			color: $body-color2;
			font-size: rem(16);
		}
	}
	&__phone-link{
		display: flex;
		align-items: center;

		color: $body-color2;
		@include mt();
		&:hover{
			color: $black;
			.icon{
				color: $black;
			}
		}

		margin-right: rem(20);
		@include media-breakpoint-up(lg){
			margin-right: rem(0);
		}
		@include media-breakpoint-up(xl){
			margin-right: rem(33);
		}
		.icon{
			@include mt();
			font-size: rem(20);
			margin-right: rem(10);
			color: $dark;
		}
		span{
			white-space: nowrap;
			@include mt();
			font-size: rem(16);
		}
	}
	&__consult-btn{
		@extend .btn-pr-empty;

		padding: rem(7) rem(15) rem(7) rem(16);
		font-size: rem(14px);
		line-height: (18/14);

		margin-right: rem(30);
	}
	&__icons-box{
		display: flex;
		align-items: center;
		a{
			width: rem(20);
			height: rem(20);
			display: flex;
			align-items: center;
			justify-content: center;

			margin-right: rem(25);
			&:last-child{
				margin-right: 0;
			}
		}
		.icon{
			max-width: 100%;
			max-height: 100%;
			font-size: rem(20);
			color: $dark;
		}
	}

	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}

	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}

.info-strip{
	position: fixed;
	z-index: 99;
	top: 70px;
	height: 70px;

	width: 100vw;
	left: 0;
	@include media-breakpoint-up(xl){
		width: 1080px;
		//left: var(--asideW);
		left: calc((100vw - 1080px - 180px) / 2 + 180px);
	}
	@include media-breakpoint-up(xxl){
		width: 1140px;
		left: calc(-1 * (1140px - 100vw) / 2);
	}

	display: flex;
	padding: rem(17) 15px;
	align-items: center;

	//border-radius: 0px 0px $border-radius $border-radius;

	&:before{
		content: '';
		background-color: $white;
		z-index: -1;
		position: fixed;
		top: 70px;
		height: 70px;

		width: 100vw;
		left: 0;
		@include media-breakpoint-up(xl){
			width: calc(100vw - var(--asideW));
			left: var(--asideW);
		}
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
	}


	//
	&__location-link{
		display: flex;
		align-items: center;
		@include media-breakpoint-up(xl){
			margin-right: rem(10);
		}

		color: $body-color2;
		@include mt();

		.icon-location{
			@include mt();
			font-size: rem(20);
			margin-right: rem(15);
			color: $dark;
		}
		span{
			font-size: rem(16);
		}
		.icon-chevron-down{
			@include mt();
			font-size: rem(10);
			color: $body-color2;
			margin-left: rem(10);
		}

		&:hover{
			color: $black;
			.icon-location, .icon-chevron-down{
				color: $black;
			}
		}
	}

	//address-block
	&__address-block{
		align-items: center;
	}

	&__address-gray{
		font-size: rem(14px);
		line-height: (18/14);
		margin-right: rem(10);
		color: $secondary;
	}
	&__address{
		font-size: rem(14px);
		line-height: (18/14);
		margin-right: rem(20);
		color: $body-color;
	}
	&__shedule{
		font-size: rem(14px);
		line-height: (18/14);
		color: $body-color;
		margin-right: rem(30);
	}
	&__add-btn{
		@extend .btn-pr;
		margin-left: auto;

		padding: 5px 11px 5px 12px;
		@include media-breakpoint-up(sm){
			padding: rem(9) rem(21) rem(9) rem(21);
		}
		display: flex;
		align-items: center;
		.icon{
			color: transparent;
			stroke: $white;
			font-size: rem(10);
			@include media-breakpoint-up(sm){
				margin-right: rem(10);
			}
		}

		font-weight: bold;
		font-size: rem(14px);
		line-height: (18/14);
	}

}