mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.toggle-menu-mobile--js.d-lg-none
		span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy&attributes(attributes)
		+e.menu-btn.burger-js.d-xl-none
			span
		+e.A.logo(href="/")
			//block
			img.img-svg-js(src="img/svg/logo-svg.svg")
		+e.container.container
			+e.A.location-link.d-none.d-lg-flex(href="#")
				+icon('location')
				span Санкт-Петербург
				+icon('chevron-down')
			+e.A.mail-link.d-none.d-md-flex(href='mailto:agentstvo@gmail.com')
				+icon('mail')
				span agentstvo@gmail.com
			+e.A.phone-link.d-none.d-md-flex(href='tel:+79053454212')
				+icon('phone')
				span +7 (905) 345-42-12
			+e.A.consult-btn.d-none.d-xl-inline-block(href="#") Бесплатная консультация
			+e.icons-box
				a(href="#")
					+icon('heart')
				a(href="#")
					+icon('user')
				//location
	// end top-nav


mixin infoStrip()
	+b.info-strip
		+e.A.location-link.d-lg-none(href="#")
			+icon('location')
			span Санкт-Петербург
			+icon('chevron-down')
		+e.address-block.d-none.d-lg-flex
			+e.address-gray Адрес офиса:
			+e.address Санкт-Петербург, Воскресенская 12
			+e.shedule ПН-ПТ с 9:00 до 20:00
		+e.A.add-btn(href="#")
			+icon('plus')
			span.d-none.d-sm-block Добавить объект