	// start .sWithoutAgent
	.sWithoutAgent {

		background-color: $gray-100;

		&__col{
			margin-bottom: 30px;

		}

		&__item {
			display: flex;
			flex-wrap: wrap;
			margin-right: auto;
			margin-left: auto;
			background-color: #fff;
			box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
			border-radius: 5px;
			height: 100%;
			@include media-breakpoint-up(md) {
				flex-direction: column;

			}
		}

		&__img-wrap{
			display: block;
			width: 65px;
			flex: 0 0 65px;
			margin-left: 20px;
			// margin-bottom: 20px;
			padding-top: 20px;
		}

		&__text-block{
			display: flex;
			flex-direction: column;
			padding-left: 20px;
			flex-grow: 1;
		}

		&__title{
			font-weight: bold;
			font-size: 20px;
			line-height: (30 / 20);
			color: $body-color2;
			margin-bottom: 20px;
			max-width: 215px;
			padding-top: 20px;
		}

		&__text{
			font-weight: 300;
			color: $body-color2;
			margin-bottom: 20px;
			max-width: 215px;
			flex-grow: 1;
		}
		 
		&__price{
			font-weight: 800;
			color: $green;
			margin-bottom: 20px;
			max-width: 215px;
		}

		&__btn{
			@extend .btn-pr;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			padding-right: 4px;
			padding-left: 4px;
			font-weight: bold;
			line-height: (20 / 16);
			width: 100%;
			@include media-breakpoint-up(md) {
				flex-grow: 0;
			}
		}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sWithoutAgent