// start .sChosenObj
.sChosenObj {
	background-color: $light;

	--sPT: #{196px};//226
	--sPB: #{50px};
	--sTPB: #{rem(25)};
	@include media-breakpoint-up(xl){
		--sPT: #{196px};//226
		--sPB: #{rem(90)};
		--sTPB: #{rem(25)};
	}


	.section-title{
		text-align: center;
		@include media-breakpoint-up(sm){
			text-align: left;
		}
		h2{
			color: $body-color2;
		}
	}

	&__buy-rent-links{
		display: flex;
		padding-bottom: 40px;
		@include media-breakpoint-up(sm){
			padding-bottom: 30px;
		}

		a{
			border: 1px solid $primary;

			padding: 5px 20px !important;
			min-width: 50%;
			@include media-breakpoint-up(sm){
				padding: 6px 53px !important;
				min-width: 0;
			}

			&:not(.active){
				@extend .btn-pr-empty;

				display: flex;
				align-items: center;
				justify-content: center;
			}
			&.active{
				@extend .btn-pr;
				font-weight: bold;

				display: flex;
				align-items: center;
				justify-content: center;
			}

			font-weight: 500;
			font-size: rem(16px);
			line-height: (20/16);

			//border r
			&:first-child{
				border-radius: $border-radius 0 0 $border-radius;

			}
			&:last-child{
				border-radius: 0 $border-radius $border-radius 0;
				&:first-child {
					border-radius:  $border-radius ;

				}
			}
		}
	}
	//
	.catalog-row{
		padding-bottom: 20px;
	}

	//
	&__help-btn{
		@extend .btn-pr;
		margin-bottom: rem(10);

		min-width: 100%;
		font-weight: bold;
		font-size: rem(16);
		line-height: (20/16);
	}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sChosenObj