// start .pageHead
.pageHead {
	background-color: $light;

	--sPT: #{rem(185px)};//226
	--sPB: #{rem(60)};
	--sTPB: #{rem(23)};
	@include media-breakpoint-up(lg){
		--sPT: #{rem(240px)};//226
		--sPB: #{rem(100)};
		--sTPB: #{rem(20)};
	}

	color: $body-color2;
	@include media-breakpoint-up(sm){
		color: $white;
	}


	.section-title{
		h2{
			line-height: 1.38;
			@include media-breakpoint-down(sm){
				line-height: 1.7;
				font-size: 24px;
			}
		}
	}
	&__default-btn{
		@extend .btn-pr;

		font-weight: bold;
		font-size: rem(16px);
		line-height: (20/16);

		min-width: 100%;
		@include media-breakpoint-up(sm){
			min-width: 310px;
		}
	}

	&__warranty {
		display: flex;
		align-items: center;
		margin-bottom: rem(26);

		span {
			font-size: 20px;
			font-weight: 500;
			max-width: 200px;
			@include media-breakpoint-up(md) {
				color: #fff;
			}
		}

		.icon {
			color: $primary;
			background-color: #fff;
			border-radius: 50%;
			padding: 5px;
			margin-right: rem(15);
			width: rem(34px);
			height: rem(34px);
			flex-shrink: 0;
		}
	}

	&__roww {
		padding-bottom: rem(20);
		@include media-breakpoint-up(lg) {
			margin-right: rem(-80);
		}
		@include media-breakpoint-down(lg) {
			max-width: rem(350);
			margin-left: auto;
			margin-right: auto;
		}
	}

	&--04 {
		h1 {
			@extend h2;
		}

		@include media-breakpoint-down (md) {
			padding-top: calc(var(--sPT) * 1.05);
		}

		.container {
			@include media-breakpoint-up(md) {
				max-width: rem(920);
			}
		}

		.section-title {
			@include media-breakpoint-down (md) {
				padding-bottom: calc(var(--sTPB) * 1.3);
			}
		}

	}

	&--05{
		h1{
			@extend h2;
		}
	}

	&--07 {
		h1 {
			@extend h2;
		}

		padding-bottom: calc(var(--sPB) / 1.5);
	}

	&--08 {
		h1 {
			@extend h2;
		}

		padding-bottom: calc(var(--sPB) / 4);
		@include media-breakpoint-up(md) {
			padding-bottom: calc(var(--sPB) / 1.5);
		}
	}

	&--09 {
		h1 {
			@extend h2;
		}

		@include media-breakpoint-down(sm) {
			padding-top: calc(var(--sPT) * 1.05);
			padding-bottom: calc(var(--sPB) / 8);
		}
	}

	&--13{
		@include media-breakpoint-down(sm){
			padding-bottom: 9px;
		}
		h1{
			@extend h2;
		}
		
	}
	//
	&--11{
		.section-title{
			@include media-breakpoint-down(sm){
				padding-bottom: 28px;
			}
		}
	}


	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.pageHead

//11
.repairment-page-head{
	max-width: 640px;
	margin: 0 auto;

	@include media-breakpoint-up(lg){
		display: flex;
		justify-content: space-between;
	}

	&__order-btn,
	&__look-btn{
		width: 100%;
		@include media-breakpoint-up(lg){
			width: calc(50% - 10px);
		}
	}
	&__order-btn{
		@extend .btn-pr;

		font-weight: bold;
		font-size: 16px;

		margin-bottom: 20px;
		line-height: (20/16);
		@include media-breakpoint-up(lg){
			margin-bottom: 0px;
			//line-height: 1;
		}
	}
	&__look-btn{
		@extend .btn-pr-empty;

		font-size: 16px;
		line-height: 1;

		@include media-breakpoint-up(sm){
			background-color: transparent;
			border: 2px solid $white;
			box-shadow: inset 0 0 0 0 $white;
			color: $white !important;
			&:hover{
				background-color: transparent;
				border: 2px solid $white;
				box-shadow: inset 0 0 0 2px $white;
				color: $white;
			}
			&:focus{
				border: 2px solid $primary;
				background-color: $primary !important;
				color: $white !important;
				box-shadow: none !important;
			}
		}


	}
}