	// start .sPartnership
	.sPartnership {
		@include media-breakpoint-up(sm) {
		padding-top: 97px;
		}
		padding-top: 0;
		background-color: $gray-100;

		&__col{
			@include media-breakpoint-up(md) {
				margin-bottom: 20px;
			}
			margin-bottom: 25px;
		}

		&__title{
			@include media-breakpoint-up(sm) {
				padding-bottom: 20px;
			}
			padding-bottom: 40px;
		}

		&__item {
			display: flex;
			background: #FFFFFF;
			box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
			border-radius: 5px;
			min-height: 95px;
			height: 100%;
			align-items: center;
			@include media-breakpoint-up(md) {
				min-height: 70px;
			}
		}

		&__img-wrap{
			display: flex;
			align-items: center;
			justify-content: center;
			@include media-breakpoint-up(sm) {
				width: 40px;
				height: 40px;
			}
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: $green;
			margin: 15px 20px;
			flex-shrink: 0;
			// img{
			// 	max-width: 100%;
			// 	max-height: 100%;
			// 	width: auto;
			// 	height: auto;
			// }
			
		}

		&__text{
			font-weight: 500;
			font-size: 20px;
			@include media-breakpoint-up(sm) {
				line-height: (40 / 20);
				padding-top: 15px;
				padding-bottom: 15px;
			}
			line-height: (33 / 20);
			padding-top: 25px;
			padding-bottom: 25px;
		}
		
		&__btn{
			@extend .btn-pr;
			font-weight: bold;
			line-height: (20 / 16);
			padding-right: 113px;
			padding-left: 113px;
			@include media-breakpoint-up(sm) {
				margin-top: 20px;
				margin-bottom: 60px;
			}
			margin-top: 5px;
			margin-bottom: 50px;
			width: 316px;
			// text-align: center;
			// @include media-breakpoint-up(md) {
			// 	flex-grow: 0;
			// }
		}
		
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sPartnership