mixin item-sos(icon, a='#')
	+e.A.item(href=a target="_blank")
		if block
			block
		else
			+icon(icon)
//- social buttons
mixin soc()
	+b.soc
		if block
			block
		else
			+e.A.item(href="#" target="_blank")
				img.lazy(src="#" data-src='img/svg/soc-vk.svg' alt="")
			+e.A.item(href="#" target="_blank")
				img.lazy(src="#" data-src='img/svg/soc-insta.svg' alt="")
			+e.A.item(href="#" target="_blank")
				img.lazy(src="#" data-src='img/svg/soc-youtube.svg' alt="")
			+e.A.item(href="#" target="_blank")
				img.lazy(src="#" data-src='img/svg/soc-fb.svg' alt="")
			+e.A.item(href="#" target="_blank")
				img.lazy(src="#" data-src='img/svg/soc-odnokl.svg' alt="")
//- /social buttons
